<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views with D3.js</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        /*
        make the links move to the right
        */
        #navbarNav {
            justify-content: flex-end;
        }

        /*
        spacing the header container
        */
        .container-fluid.nav-card-parent {
            margin: 20px 0;
        }

        /*
        for the test
        */
        .node {
            fill: steelblue;
            stroke: none;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1px;
        }

        /**
        responsive svg: http://thenewcode.com/744/Make-SVG-Responsive
        */

        .svg-container { 
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 100%; 
            vertical-align: middle; 
            overflow: hidden; 
        }

        .svg-content { 
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }

        svg {
            height: 80%;
            width: 100%;
        }
    </style>
</head>

<body>
    

    <header>


        <div class="container-fluid nav-card-parent">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">WSD - Admin</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/">chart.js</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/d3-js">D3.js</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>






    </header>

    <main>
        <section class="container-fluid">
            <p id="intro-paragraph">Please wait a couple of minutes, we're crunching the data.</p>
            <p>These views are hierarchical because the information they convey are more detailed. So making them hierarchical allows to easily trace data flow and grasp information better.</p>
        </section>

        <div class="container-fluid">
            

            <div class="card mt-5">

                <div class="card-body">
                    <h5 class="card-title">Stream hosts</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Down stream and upsteam host relationship. I wanted to show how the network request travel across various web hosts to generate the service report. Click on a section to expand, and the middle to collapse.</h6>
                    
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    
                    <div class="container main-div">
                        <div class="svg-container">
                            <svg id="a" class="svg-content"></svg>
                        </div>
                    </div>

                    <p class="card-text pt-5 p-3" id="chart_004_parpgraph"></p>

                </div>
            </div>


            <div class="card mt-5">

                <div class="card-body">
                    <h5 class="card-title">Stream hosts [Tree]</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Down stream and upsteam host. Same data but with a bird's eye view, so you can see at once the network of requests together with down stream and up steam relationships between various webhosts.</h6>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="container main-div">
                        <div class="svg-container">
                            <svg id="b" class="svg-content"></svg>
                        </div>
                    </div>

                    <p class="card-text pt-5 p-3" id="chart_005_parpgraph"></p>

                    <p>
                    </p>
                </div>
            </div>


            <div class="card mt-5">

                <div class="card-body">
                    <h5 class="card-title">Stream hosts [Collapsable Tree]</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Down stream and upsteam host relationship. Essentially the same view as above, but collapsable. Click the dots to expand and collapse the tree node.</h6>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="container main-div">
                        <div class="svg-container">
                            <svg id="bb" class="svg-content"></svg>
                        </div>
                    </div>

                    <p class="card-text pt-5 p-3" id="chart_008_parpgraph"></p>

                    <p>
                    </p>
                </div>
            </div>


            
        </div>



        
    </main>

    <footer id="foot">
        
    </footer>


    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script>
        let _baseURL = 'http://localhost:8088'
        if (window.location.host === "wsd-service-report.herokuapp.com") {
            _baseURL = "https://wsd-service-report.herokuapp.com"
        }
        let server_reponse

        function extractCompliantReports() {
            return server_reponse.service_reports.filter(d => d.status_text != "Not Implemented")
        }

        // https://stackoverflow.com/a/25518977/9259701

        // maybe continue here https://www.tutorialsteacher.com/d3js/create-bar-chart-using-d3js
        
        // should I make uncompliant service reports complaint ???


        

        function drawZoomableSunburstChart() {

            /*

            const group_root = d3.group(extractCompliantReports(), d => d.host.upstream_host)
            // console.log("group_root??? <<<", group_root);

            const hierarchy_root = d3.hierarchy(group_root);
            // console.log("hierarchy_root >>>>", hierarchy_root);

            const root = tree3(hierarchy_root);
            
            
            */

            // use only services that use the service report api
            
            // server_reponse.service_reports
            // gets the group of names
            const group_root = d3.group(server_reponse.service_reports, d => d.host.upstream_host) // extractCompliantReports()
            console.log("group_root???", group_root);

            const hierarchy_root = d3.hierarchy(group_root);
            console.log("hierarchy_root+++++", hierarchy_root);


            let partition1 = data => { // https://github.com/d3/d3-hierarchy/blob/v3.0.1/README.md#partition
                const root = d3.hierarchy(data)
                    .sum(d => { // https://github.com/d3/d3-hierarchy/blob/v3.0.1/README.md#node_sum
                        // console.log('?sum ?', d);
                        // check for Map also
                        if (Array.isArray(d) && Array.isArray(d[1])) {
                            return d[1][0].id
                        } else if (Array.isArray(d) && d[1] instanceof Map) {
                            return d[1].get('localhost')[0].host.id
                        } else {
                            return d.host.id
                        }
                        
                    })
                    .sort((a, b) => {
                        return b.data.completed_at > a.data.completed_at
                    });
                return d3.partition()
                    .size([2 * Math.PI, root.height + 1])
                    (root);
            }

            const root = partition1(group_root);

            console.log('root ?', root);

            root.each(d => d.current = d);


            //--
            let format1 = d3.format(",d")
            let color1 = d3.scaleOrdinal(d3.quantize(d3.interpolateRainbow, hierarchy_root.children.length + 1))
            
            let width1 = 932
            let radius1 = width1 / 6
            let arc1 = d3.arc()
                .startAngle(d => {
                    // console.log('?11 x0', d);
                    return d.x0
                })
                .endAngle(d => {
                    // console.log('?22 x1', d);
                    return Number.isNaN(d.x1) ? 0 : d.x1 // terrible fix 
                })
                .padAngle(d => { // what about when x.x1 was NaN
                    return Math.min((d.x1 - d.x0) / 2, 0.005)
                })
                .padRadius(radius1 * 1.5)
                .innerRadius(d => {
                    // console.log('?33 y0', d);
                    return d.y0 * radius1
                })
                .outerRadius(d => {
                    // console.log('?44 y1', d);
                    return Math.max(d.y0 * radius1, d.y1 * radius1 - 1)
                });
            //--

            const svg = d3.create("svg")
                .attr("viewBox", [0, 0, width1, width1])
                .style("font", "10px sans-serif");

            const g = svg.append("g")
                .attr("transform", `translate(${width1 / 2},${width1 / 2})`);

            const path = g.append("g")
                .selectAll("path")
                .data(root.descendants().slice(1))
                .join("path")
                .attr("fill", d => { 
                    while (d.depth > 1) {
                        d = d.parent
                    };
                    return color1(d.data[0]); 
                })
                .attr("fill-opacity", d => arcVisible(d.current) ? (d.children ? 0.6 : 0.4) : 0)
                .attr("d", d => {
                    // console.log("backkky", d);
                    return arc1(d.current)
                });

            path.filter(d => d.children)
                .style("cursor", "pointer")
                .on("click", clicked);

            path.append("title")
                .text(d => `${d.ancestors().map(d => {
                    // console.log('i know title', d);
                    if (Array.isArray(d.data)) {
                        return d.data[0]
                    } else {
                        return d.data.host.name
                    }
                })}`);
                    // .reverse()
                    // .join("/")}\n${Array.isArray(d.data) ? d.data[0] : d.data.host.name}`); // change here ...

            const label = g.append("g")
                .attr("pointer-events", "none")
                .attr("text-anchor", "middle")
                .style("user-select", "none")
                .selectAll("text")
                .data(root.descendants().slice(1))
                .join("text")
                .attr("dy", "0.35em")
                .attr("fill-opacity", d => +labelVisible(d.current))
                .attr("transform", d => {
                    // console.log('[]][][]', d);
                    return labelTransform(d.current)
                })
                .text(d => {
                    // console.log('what\'s d?', d);
                    if (Array.isArray(d.data)) {
                        return d.data[0]
                    } else {
                        return d.data.host.name
                    }
                    // useful for fishing our un-compliant service report
                    // try {
                        
                    // } catch (error) {
                    //     console.log('causing err', d);
                    //     return d.data.host.upstream_host
                    // }
                    
                }); // change here too
            // console.log('label ??', label);


            function clicked(event, p) {
                parent.datum(p.parent || root);


                console.log("over the top", p, root);
                root.each(d => d.target = {
                    x0: Math.max(0, Math.min(1, (d.x0 - p.x0) / (p.x1 - p.x0))) * 2 * Math.PI,
                    x1: Math.max(0, Math.min(1, (d.x1 - p.x0) / (p.x1 - p.x0))) * 2 * Math.PI,
                    y0: Math.max(0, d.y0 - p.depth),
                    y1: Math.max(0, d.y1 - p.depth)
                });

                const t = g.transition().duration(750);

                // Transition the data on all arcs, even the ones that aren’t visible,
                // so that if this transition is interrupted, entering arcs will start
                // the next transition from the desired position.
                path.transition(t)
                    .tween("data", d => {
                        const i = d3.interpolate(d.current, d.target);
                        // console.log("what is data", d);
                        return t => d.current = i(t);
                    })
                .filter(function(d) {
                    return +this.getAttribute("fill-opacity") || arcVisible(d.target);
                })
                    .attr("fill-opacity", d => arcVisible(d.target) ? (d.children ? 0.6 : 0.4) : 0)
                    .attrTween("d", d => () => arc1(d.current));

                label.filter(function(d) {
                    return +this.getAttribute("fill-opacity") || labelVisible(d.target);
                }).transition(t)
                    .attr("fill-opacity", d => +labelVisible(d.target))
                    .attrTween("transform", d => () => labelTransform(d.current));
            }
            

            const parent = g.append("circle")
                .datum(root)
                .attr("r", radius1)
                .attr("fill", "none")
                .attr("pointer-events", "all")
                .on("click", clicked);
                
            function arcVisible(d) {
                return d.y1 <= 3 && d.y0 >= 1 && d.x1 > d.x0;
            }

            function labelVisible(d) {
                return d.y1 <= 3 && d.y0 >= 1 && (d.y1 - d.y0) * (d.x1 - d.x0) > 0.03;
            }

            function labelTransform(d) {
                const x = (d.x0 + d.x1) / 2 * 180 / Math.PI;
                const y = (d.y0 + d.y1) / 2 * radius1;
                return `rotate(${x - 90}) translate(${y},0) rotate(${x < 180 ? 0 : 180})`;
            }

            // console.log('svg node', svg.node());

            return svg.node();
        }


        // https://stackoverflow.com/questions/17497938/are-there-any-online-tools-to-test-svg-paths


        // https://observablehq.com/@d3/tidy-tree
        function drawTidyTree() {

            let width3 = 954;
            tree3 = data => {
                const root = d3.hierarchy(data);
                root.dx = 10;
                root.dy = width3 / (root.height + 1);
                return d3.tree().nodeSize([root.dx, root.dy])(root);
            }

            const group_root = d3.group(server_reponse.service_reports, d => d.host.upstream_host) // extractCompliantReports()
            // console.log("group_root??? <<<", group_root);

            const hierarchy_root = d3.hierarchy(group_root);
            // console.log("hierarchy_root >>>>", hierarchy_root);

            const root = tree3(hierarchy_root);

            let x0 = Infinity;
            let x1 = -x0;
            root.each(d => {
                if (d.x > x1) x1 = d.x;
                if (d.x < x0) x0 = d.x;
            });

            const svg = d3.create("svg")
                .attr("viewBox", [0, 0, width3, x1 - x0 + root.dx * 2]);

            const g = svg.append("g")
                .attr("font-family", "sans-serif")
                .attr("font-size", 10)
                .attr("transform", `translate(${root.dy / 3},${root.dx - x0})`);
            
            const link = g.append("g")
            .attr("fill", "none")
            .attr("stroke", "#555")
            .attr("stroke-opacity", 0.4)
            .attr("stroke-width", 1.5)
            .selectAll("path")
            .data(root.links())
            .join("path")
                .attr("d", d3.linkHorizontal()
                    .x(d => d.y)
                    .y(d => d.x));

            const node = g.append("g")
                .attr("stroke-linejoin", "round")
                .attr("stroke-width", 3)
            .selectAll("g")
            .data(root.descendants())
            .join("g")
                .attr("transform", d => `translate(${d.y},${d.x})`);

            node.append("circle")
                .attr("fill", d => d.children ? "#555" : "#999")
                .attr("r", 4);

            node.append("text")
                .attr("dy", "0.31em")
                .attr("x", d => d.children ? -6 : 6)
                .attr("text-anchor", d => d.children ? "end" : "start")
                .text(d => {
                    // console.log("?mob?", d);
                    if (Array.isArray(d.data.data)) {
                        return d.data.data[0]
                    } else {
                        return d.data.data.host.name
                    }
                })
            .clone(true).lower()
                .attr("stroke", "white");

            return svg.node();
        }

        


        // -- here's another tree

        // https://observablehq.com/@d3/collapsible-tree

        

        function drawCollapsibleTree() {

            let margin5 = {top: 10, right: 120, bottom: 10, left: 40}
            let width5 = 928
            let dy5 = 154.66666666666666 // width / 6
            let dx5 = 10
            let tree5 = d3.tree().nodeSize([dx5, dy5])
            let diagonal5 = d3.linkHorizontal().x(d => d.y).y(d => d.x)

            const group_root = d3.group(server_reponse.service_reports, d => d.host.upstream_host) // extractCompliantReports()
            // console.log("group_root??? <<<", group_root);

            const hierarchy_root = d3.hierarchy(group_root);
            // console.log("hierarchy_root >>>>", hierarchy_root);

            const root = d3.hierarchy(hierarchy_root);

            root.x0 = dy5 / 2;
            root.y0 = 0;

            root.descendants().forEach((d, i) => {
                d.id = i;
                d._children = d.children;
                // console.log('name.lenght ?', d);
                // d.data.data[0] ?? 
                // if (d.depth && d.data.name.length !== 7) d.children = null;
            });

            const svg = d3.create("svg")
                .attr("viewBox", [-margin5.left, -margin5.top, width5, dx5])
                .style("font", "10px sans-serif")
                .style("user-select", "none");

            const gLink = svg.append("g")
                .attr("fill", "none")
                .attr("stroke", "#555")
                .attr("stroke-opacity", 0.4)
                .attr("stroke-width", 1.5);

            const gNode = svg.append("g")
                .attr("cursor", "pointer")
                .attr("pointer-events", "all");

            function update(source) {
                const duration = d3.event && d3.event.altKey ? 2500 : 250;
                const nodes = root.descendants().reverse();
                const links = root.links();

                // Compute the new tree layout.
                tree5(root);

                let left = root;
                let right = root;
                root.eachBefore(node => {
                    if (node.x < left.x) left = node;
                    if (node.x > right.x) right = node;
                });

                const height = right.x - left.x + margin5.top + margin5.bottom;

                const transition = svg.transition()
                    .duration(duration)
                    .attr("viewBox", [-margin5.left, left.x - margin5.top, width5, height])
                    .tween("resize", window.ResizeObserver ? null : () => () => svg.dispatch("toggle"));

                // Update the nodes…
                const node = gNode.selectAll("g").data(nodes, d => d.id);

                // Enter any new nodes at the parent's previous position.
                const nodeEnter = node.enter().append("g")
                    .attr("transform", d => `translate(${source.y0},${source.x0})`)
                    .attr("fill-opacity", 0)
                    .attr("stroke-opacity", 0)
                    .on("click", (event, d) => {
                        d.children = d.children ? null : d._children;
                        update(d);
                    });

                nodeEnter.append("circle")
                    .attr("r", 5)
                    .attr("fill", d => d._children ? "#555" : "#999")
                    .attr("stroke-width", 10);

                nodeEnter.append("text")
                    .attr("dy", "0.31em")
                    .attr("x", d => d._children ? -6 : 6)
                    .attr("text-anchor", d => d._children ? "end" : "start")
                    .text(d => {
                        console.log('===', d);
                        if (Array.isArray(d.data.data)) { // to handle compliant and non-compliant service report
                            return d.data.data[0]
                        } else {
                            return d.data.data.host.name
                        }
                        
                    })
                .clone(true).lower()
                    .attr("stroke-linejoin", "round")
                    .attr("stroke-width", 3)
                    .attr("stroke", "white");

                // Transition nodes to their new position.
                const nodeUpdate = node.merge(nodeEnter).transition(transition)
                    .attr("transform", d => `translate(${d.y},${d.x})`)
                    .attr("fill-opacity", 1)
                    .attr("stroke-opacity", 1);

                // Transition exiting nodes to the parent's new position.
                const nodeExit = node.exit().transition(transition).remove()
                    .attr("transform", d => `translate(${source.y},${source.x})`)
                    .attr("fill-opacity", 0)
                    .attr("stroke-opacity", 0);

                // Update the links…
                const link = gLink.selectAll("path").data(links, d => d.target.id);

                // Enter any new links at the parent's previous position.
                const linkEnter = link.enter().append("path")
                    .attr("d", d => {
                        const o = {x: source.x0, y: source.y0};
                        return diagonal5({source: o, target: o});
                    });

                // Transition links to their new position.
                link.merge(linkEnter).transition(transition)
                    .attr("d", diagonal5);

                // Transition exiting nodes to the parent's new position.
                link.exit().transition(transition).remove()
                    .attr("d", d => {
                        const o = {x: source.x, y: source.y};
                        return diagonal5({source: o, target: o});
                    });

                // Stash the old positions for transition.
                root.eachBefore(d => {
                    d.x0 = d.x;
                    d.y0 = d.y;
                });
            }

            update(root);

            return svg.node();
        }
        
        

        // use foreignObject to wrap text in SVG

        /*
            how about we show the average time a request completion time
        */
        // https://observablehq.com/@d3/zoomable-icicle

        // ---- TIME charts ...

        // https://observablehq.com/@d3/slope-chart
        
        // 2nd time

        // https://observablehq.com/@d3/box-plot



        

        function drawCharts() {
            document.getElementById('intro-paragraph').textContent = ''
            let spinners = document.getElementsByClassName('spinner-border')
            for (let index = 0; index < spinners.length; index++) {
                spinners[index].setAttribute('style', 'display:none;'); // remove() // 
            }

            d3.select("#a").node().append(drawZoomableSunburstChart());

            d3.select("#bb").node().append(drawCollapsibleTree());

            d3.select("#b").node().append(drawTidyTree());
        }

        // let's cache result. only fetch new data if it's older than 15 mins // a slick update would be auto updating based on custom set time
        if(!sessionStorage.getItem('wsd-service-reports') || (sessionStorage.getItem('wsd-service-reports') && Date.now() - new Date(JSON.parse(sessionStorage.getItem('wsd-service-reports'))["completed_at"]).getTime() > 900000) ) {
            fetch('http://localhost:8088/service-report') // call live url
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json()
            })
            .then(data => {
                console.log('fetched data')
                server_reponse = data
                sessionStorage.setItem('wsd-service-reports', JSON.stringify(data));
            }).then(() => {
                // hide loaders and helper text
                drawCharts();

                console.log('Hi. Just drew the charts. Look at them, not me. :)');
            }).catch((err) => {
                // also use bootstrap alerts
                // document.getElementById('intro-paragraph').textContent = 'An error happened while fetching data. Please reload page.'
                document.getElementById('foot').appendChild(
                    `<div class="alert-div container container-fluid position-fixed bottom-0 end-0">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Ooops!</strong> An error happened while fetching data. Please reload page.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>`
                )
                console.log('Ouch. An error happened while fetching data, and drawing charts', err) // todo: maybe remove the loader ... really shd show alerts
            });
        } else {
            server_reponse = JSON.parse(sessionStorage.getItem('wsd-service-reports'))
            drawCharts();

            console.log('Used cached data gotten at', new Date(JSON.parse(sessionStorage.getItem('wsd-service-reports'))["completed_at"]));
        }


    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>