<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WSD - Service Report</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        /*
        make the links move to the right
        */
        #navbarNav {
            justify-content: flex-end;
        }

        /*
        spacing the header container
        */
        .container-fluid.nav-card-parent {
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <header>

        <div class="container-fluid nav-card-parent">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="#">WSD</a>
                          
                          <div id="navbarNav">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">chart.js</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/d3-js">D3.js</a>
                                </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                </div>
              </div>
        </div>
        


        

        
    </header>
    <main>
        <section class="container-fluid">
            <p id="intro-paragraph">Please wait a couple of minutes, we're crunching the data.</p>
        </section>
        <div class="container-fluid">

            <div class="card mt-5">
                
                <div class="card-body">
                    <h5 class="card-title">Request completion stats</h5>
                    <h6 class="card-subtitle mb-2 text-muted">How long it took request to be compeleted.</h6>
                    
                    <div>
                        <canvas id="doughnut_chart_004">
                            <p>Not surported.</p>
                        </canvas>
                        <p class="card-text pt-5 p-3" id="doughnut_chart_004_parpgraph">
                            
                            <!-- ideally would have the tooltip showing the amount of time the request took to complete. -->
                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mt-5">
                
                <div class="card-body">
                    <h5 class="card-title">HTTP status overview</h5>
                    <h6 class="card-subtitle mb-2 text-muted">https status response from web host services. (200, 201, 202, etc.)</h6>
                    
                    <div>
                        <canvas aria-label="Pie chart showing WSD's HTTP status overview" role="img" id="doughnut_chart_002">
                            <p>This is meant to show a Pie chart with WSD's HTTP status overview. But your browser does not support the canvas element. Please use any modern browser.</p>
                        </canvas>
                        
                        <p class="card-text pt-5 p-3" id="doughnut_chart_002_parpgraph"></p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mt-5">
                
                <div class="card-body">
                    <h5 class="card-title">Authentication overview</h5>
                    <h6 class="card-subtitle mb-2 text-muted">if host services uses authentication (either jwt, or oauth2), or not</h6>
                    
                    <div>
                        <canvas aria-label="Pie chart showing WSD's Authentication overview" role="img" id="doughnut_chart_003">
                            <p>This is meant to show a Pie chart with WSD's Authentication overview. But your browser does not support the canvas element. Please use any modern browser.</p>
                        </canvas>
                        <p class="card-text pt-5 p-3" id="doughnut_chart_003_parpgraph"></p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
        
    </main>

    <footer id="foot">
        
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternomaly/1.3.2/patternomaly.min.js" integrity="sha512-Zjnjh2DCl/MrwdZ8FNp25vSbXac3yWUWoMn0CL8qQ/K11HGv7cJ9RGNUiojnSfqVtwbGf+eyqEEjiw2hlHd6iQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.0.2/luxon.min.js" integrity="sha512-frUCURIeB0OKMPgmDEwT3rC4NH2a4gn06N3Iw6T1z0WfrQZd7gNfJFbHrNsZP38PVXOp6nUiFtBqVvmCj+ARhw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js" integrity="sha256-tOhXNe/Ue+TjR33s/CryFYOGMwNfkTjTuvM4LEOAHzc=" crossorigin="anonymous"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>


    <script>

        let _baseURL = 'http://localhost:8088'
        if (window.location.host === "wsd-service-report.herokuapp.com") {
            _baseURL = "https://wsd-service-report.herokuapp.com"
        }
        

        // maybe also do helper functions to extract data from server_reponse ... SOLID principles.
        let server_reponse;


        // helper functions:

        const getOrCreateTooltip = (chart) => {
            let tooltipEl = chart.canvas.parentNode.querySelector('div');

            if (!tooltipEl) {
                tooltipEl = document.createElement('div');
                tooltipEl.style.background = 'rgba(0, 0, 0, 0.7)';
                tooltipEl.style.borderRadius = '3px';
                tooltipEl.style.color = 'white';
                tooltipEl.style.opacity = 1;
                tooltipEl.style.pointerEvents = 'none';
                tooltipEl.style.position = 'absolute';
                tooltipEl.style.transform = 'translate(-50%, 0)';
                tooltipEl.style.transition = 'all .1s ease';

                const table = document.createElement('table');
                table.style.margin = '0px';

                tooltipEl.appendChild(table);
                chart.canvas.parentNode.appendChild(tooltipEl);
            }

            return tooltipEl;
        };

        const externalTooltipHandler = (context) => {
            // Tooltip Element
            const {chart, tooltip} = context;
            const tooltipEl = getOrCreateTooltip(chart);

            // Hide if no tooltip
            if (tooltip.opacity === 0) {
                tooltipEl.style.opacity = 0;
                return;
            }

            // Set Text
            if (tooltip.body) {
                const titleLines = tooltip.title || [];
                const bodyLines = tooltip.body.map(b => b.lines);

                const tableHead = document.createElement('thead');

                titleLines.forEach(title => {
                    const tr = document.createElement('tr');
                    tr.style.borderWidth = 0;

                    const th = document.createElement('th');
                    th.style.borderWidth = 0;
                    const text = document.createTextNode(title);

                    th.appendChild(text);
                    tr.appendChild(th);
                    tableHead.appendChild(tr);
                });

                const tableBody = document.createElement('tbody');
                bodyLines.forEach((body, i) => {
                    const colors = tooltip.labelColors[i];

                    const span = document.createElement('span');
                    span.style.background = colors.backgroundColor;
                    span.style.borderColor = colors.borderColor;
                    span.style.borderWidth = '2px';
                    span.style.marginRight = '10px';
                    span.style.height = '10px';
                    span.style.width = '10px';
                    span.style.display = 'inline-block';

                    const tr = document.createElement('tr');
                    tr.style.backgroundColor = 'inherit';
                    tr.style.borderWidth = 0;

                    const td = document.createElement('td');
                    td.style.borderWidth = 0;

                    const text = document.createTextNode(body + '%');

                    td.appendChild(span);
                    td.appendChild(text);
                    tr.appendChild(td);
                    tableBody.appendChild(tr);
                });

                const tableRoot = tooltipEl.querySelector('table');

                console.log('tableRoot', tableRoot);
                // Remove old children
                while (tableRoot.firstChild) {
                    tableRoot.firstChild.remove();
                }

                // Add new children
                tableRoot.appendChild(tableHead);
                tableRoot.appendChild(tableBody);
            }

            const {offsetLeft: positionX, offsetTop: positionY} = chart.canvas;

            // Display, position, and set styles for font
            tooltipEl.style.opacity = 1;
            tooltipEl.style.left = positionX + tooltip.caretX + 'px';
            tooltipEl.style.top = positionY + tooltip.caretY + 'px';
            tooltipEl.style.font = tooltip.options.bodyFont.string;
            tooltipEl.style.padding = tooltip.options.padding + 'px ' + tooltip.options.padding + 'px';
        };

        // get 100%
        function flattenSum(input_input) {
            return input_input.map((_v, i, arr) => ((_v / arr.reduce((a, b) => a + b, 0)) * 100).toFixed(2))
        }

        function extractCompletedAt() {

            return server_reponse.service_reports.map((d, i) => {
                return {x: i + 5, y: new Date(d.completed_at).getTime()}
            }) // new Date(d.completed_at).getTime() // d.completed_at

        }

        function extractServiceHostNames() {
            return server_reponse.service_reports.map((d, i) => {
                return d.host.name
            }) // new Date(d.completed_at).getTime()
        }


        function extractRequestedAt() {
            return server_reponse.service_reports.map((d, i) => {
                return {x: i + 5, y: new Date(d.requested_at).getTime()}
            }) // new Date(d.requested_at).getTime() // d.requested_at
        }

        function extractServerHttpStatus() {
            let _report = {}

            for (let index = 0; index < server_reponse.service_reports.length; index++) {
                const element = server_reponse.service_reports[index]; // element is an obj, get status_code

                if (element.status_code in _report) {
                    _report[element.status_code] += 1 
                } else {
                    _report[element.status_code] = 0
                }
                
            }

            return _report
        }

        function extractAuthenticatedHosts() {
            // use js object
            let _report = {
                "Uses authentication": 0,
                "No authentication": 0
            }

            for (let index = 0; index < server_reponse.service_reports.length; index++) {
                const element = server_reponse.service_reports[index]; // element is an obj, get host.auth_schema_jwt || host.auth_schema_oauth2

                if (element.host.auth_schema_jwt || element.host.auth_schema_oauth2) {
                    _report["Uses authentication"] += 1
                } else {
                    _report["No authentication"] += 1
                }
                
            }

            return _report
        };

        
        // doughnut_chart_002
        function drawStatusHttpOverviewChart() {
            const data002 = {
                labels: Object.keys(extractServerHttpStatus()).map((v) => v + ' status'), // make this mapping a function // ['Red', 'Orange', 'Yellow', 'Green', 'Blue'], // name of the status
                datasets: [
                    {
                        label: 'Dataset 1',
                        data: flattenSum(Object.values(extractServerHttpStatus())), // [34, 54, 53, 24, 43], // number of times the status appeared.
                        backgroundColor: [ // using pattern to distinguish parts of the chart for color blindness accessibility
                            pattern.draw('square', '#18ff6d'),
                            pattern.draw('circle', '#5B507A'),
                            pattern.draw('diamond', '#e09f3e'),
                            pattern.draw('zigzag-horizontal', '#9e2a2b'),
                            pattern.draw('triangle', '#540b0e')
                        ],
                    }
                ]
            };
            const config002 = {
                type: 'doughnut',
                data: data002,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: false,
                            text: 'Doughnut Chart for Status HTTP response overview'
                        },
                        tooltip: {
                            // Disable the on-canvas tooltip
                            enabled: false, // false, so we can use an external tooltip
                            position: 'nearest',
                            external: externalTooltipHandler
                        }
                    },
                },
            };
            const ctx002 = document.getElementById('doughnut_chart_002').getContext('2d');
            const chart002 = new Chart(ctx002, config002);

            document.getElementById('doughnut_chart_002_parpgraph').innerText = `There were ${flattenSum(Object.values(extractServerHttpStatus())).map((v, i) => v + '% of ' + Object.keys(extractServerHttpStatus())[i] + ' status' ).join(', ')}.`; // https://stackoverflow.com/a/62737728/9259701
        }

        // ---- 2nd doughnut

        // doughnut_chart_003
        function drawAuthenticationOverviewChart() {
            const data003 = {
                labels: Object.keys(extractAuthenticatedHosts()), // make this mapping a function // ['Red', 'Orange', 'Yellow', 'Green', 'Blue'], // name of the status
                datasets: [
                    {
                        label: 'Dataset 2',
                        data: flattenSum(Object.values(extractAuthenticatedHosts())), // [34, 54, 53, 24, 43], // number of times the status appeared.
                        backgroundColor: ['#18ff6d', '#d00000'],
                    }
                ]
            };
            const config003 = {
                type: 'doughnut',
                data: data003,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: false,
                            text: 'Doughnut Chart of the authentication used'
                        },
                        tooltip: {
                            // Disable the on-canvas tooltip
                            enabled: false, // false, so we can use an external tooltip
                            position: 'nearest',
                            external: externalTooltipHandler
                        }
                    },
                },
            };

            const ctx003 = document.getElementById('doughnut_chart_003').getContext('2d');
            const chart003 = new Chart(ctx003, config003);

            document.getElementById('doughnut_chart_003_parpgraph').innerText = `${flattenSum(Object.values(extractAuthenticatedHosts())).map((v, i) => v + '% of host services use ' + Object.keys(extractAuthenticatedHosts())[i] ).join(', and ')}.`;
        }

        // ---- 3 doughtnut // needs works. seems oauth2 isn't seldomly use, and can be used with jwt

        // should have an update button to increase the number of viewed services
        function drawCompletionStat() {
            const data004 = {
                // should be names of services
                labels: extractServiceHostNames().splice(0, 17), // .splice(0, 7) mapping function to return names
                
                datasets: [
                    {
                        label: 'Request Time',
                        data: extractRequestedAt().splice(0, 17), // [{x: "e32232", y: 23}], // number of times the status appeared.
                        backgroundColor: '#84f5b7',
                        borderColor: 'green',
                        fill: '-1'
                    },
                    {
                        label: 'Completion Time',
                        data: extractCompletedAt().splice(0, 17), // [{x: "e32232", y: 23}], // number of times the status appeared.
                        backgroundColor: '#f8a5a5',
                        borderColor: 'blue',
                        fill: '-1'
                    }
                ]
            };
            const config004 = {
                type: 'line',
                data: data004,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            // parsing: false,
                            stacked: true,
                            // // https://www.chartjs.org/docs/next/axes/cartesian/time.html#ticks-source
                            ticks: { // https://stackoverflow.com/a/67491966/9259701
                                source: 'data',
                                // Include a dollar sign in the ticks
                                callback: function(value, index, values) {
                                    return new Date(value).toISOString() ; // covert to time
                                }
                            },
                            // type: 'time', // ...
                            time: {
                                unit: 'millisecond', // millisecond, not minute, or second
                                stepSize: 10000000000,
                                displayFormats: {
                                    millisecond: 'HH:MM:ss.SSS aaaa', // h:mm:ss.SSS aaaa
                                },
                                // parsing x data before chart.js use it
                                parser: function(dt){
                                    return new Date(dt).getTime();
                                },

                            },
                            // // offset: true,
                            // suggestedMin: new Date(extractRequestedAt()[0].y).getTime() - 500,
                            // suggestedMax: new Date(extractCompletedAt().at(-1).y).getTime() + 4000,
                            stepSize: 10000000000,
                            min: extractRequestedAt()[0].y - 1000000000000,
                            // max: extractCompletedAt().at(-1).y, // https://stackoverflow.com/a/61361649/9259701
                            // // beginAtZero: true
                        },
                        // adapters: {
                        //     date: {
                        //         locale: 'de',
                        //         // locale: 'en-US',
                        //         zone: 'UTC+1',
                        //         // zone: "America/Denver"
                        //     },
                        //     time: {
                        //         unit: 'minute', // millisecond
                        //         displayFormats: {
                        //             hour: "y-LL-dd HH:mmZZZ"
                        //         }
                        //     }
                        // }
                    },
                    plugins: {
                        filler: {
                            propagate: false
                        },
                        'samples-filler-analyser': {
                            target: 'chart-analyser'
                        }
                    },
                    interaction: {
                        intersect: false,
                    },
                    
                },
            };

            // time completion stats
            const ctx004 = document.getElementById('doughnut_chart_004').getContext('2d');
            const chart004 = new Chart(ctx004, config004);

            document.getElementById('doughnut_chart_004_parpgraph').innerText = `A straight line means it takes same amount for the request to complete for all services`;

        }
        

        function drawCharts() {
            document.getElementById('intro-paragraph').textContent = ''
            let spinners = document.getElementsByClassName('spinner-border')
            for (let index = 0; index < spinners.length; index++) {
                spinners[index].setAttribute('style', 'display:none;'); // remove() // 
            }

            drawAuthenticationOverviewChart();

            drawStatusHttpOverviewChart();

            drawCompletionStat();
        }

        // let's cache result. only fetch new data if it's older than 15 mins // a slick update would be auto updating based on custom set time
        if(!sessionStorage.getItem('wsd-service-reports') || (sessionStorage.getItem('wsd-service-reports') && Date.now() - new Date(JSON.parse(sessionStorage.getItem('wsd-service-reports'))["completed_at"]).getTime() > 900000) ) {
            fetch(_baseURL + '/service-report') // call live url
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json()
            })
            .then(data => {
                console.log('fetched data')
                server_reponse = data
                sessionStorage.setItem('wsd-service-reports', JSON.stringify(data));
            }).then(() => {
                // hide loaders and helper text
                drawCharts();

                console.log('Hi. Just drew the charts. Look at them, not me. :)');
            }).catch((err) => {
                // document.getElementById('intro-paragraph').textContent = 'An error happened while fetching data. Please reload page.'
                document.getElementById('foot').appendChild(
                    `<div class="alert-div container container-fluid position-fixed bottom-0 end-0">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Ooops!</strong> An error happened while fetching data. Please reload page.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>`
                )
                console.log('Ouch. An error happened while fetching data, and drawing charts', err) // todo: maybe remove the loader ... really shd show alerts
            });
        } else {
            server_reponse = JSON.parse(sessionStorage.getItem('wsd-service-reports'))
            drawCharts();

            console.log('Used cached data gotten at', new Date(JSON.parse(sessionStorage.getItem('wsd-service-reports'))["completed_at"]));
        }



        
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>